@font-face {
    font-family: 'Source Sans Pro';
     src: url(https://fonts.gstatic.com/s/oswald/v31/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZosUZiZQ.woff2) format('woff2');
}
@font-face {
    font-family: 'Source Sans Pro Light';
    font-style: normal;
    font-display: swap;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu.woff2) format('woff2');

}
* {
     box-sizing: border-box;

 }

 body {
     font-family: 'Source Sans Pro Light';
     color: #363636;


 }

 header {

 }

 .wrapper {
     overflow: hidden;
     position: relative;
     height: 100vh;
     display: flex;
     background-color: whitesmoke;
     background-size: cover;
     background-position: center;
     text-align: center;
 }

 .intro {
     margin: auto;

 }

 .i-title {
       color: #212121;
       font-size: 15vh;
       font-weight: 700;
       font-family: Source Sans Pro;
       letter-spacing: 0.04em;
       /*text-transform: inherit;*/

 }

 .i-subtitle{
     font-size: 3vh;
     font-weight: 300;
 }



